<!-- Feature Items -->
<div class="col-md-4 animate-box">
	<div class="feature-left">
		<span class="icon">
			<i class="{{ content.field_icons.0 }}"></i>
		</span>
		<div class="feature-copy">
			<h3>{{ content.field_title.0 }}</h3>
			{{ content.field_body.0 }}
		</div>
	</div>
</div>
<!-- Feature End-->
