<!-- Contact Info -->
<div class="partner animate-box">
	<div class="inner">
		<img class="img-responsive" src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="">
	</div>
</div>
<!-- Contact Info End-->
