<!-- Portfolio Items -->
<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({{ file_url(content.field_image['#items'].entity.uri.value) }}); "> 
	<div class="color-1">
		<div class="case-studies-summary">
			<span>{{ content.field_phone_number.0 }}</span>
			<h2>{{ content.field_title.0 }}</h2>
		</div>
	</div>
</li>
<!-- Portfolio Items End-->
