<!-- Services Items -->
<div class="col-md-4 col-sm-4">
	<div class="services animate-box">
		<span><i class="{{ content.field_icons.0 }}"></i></span>
		<h3>{{ content.field_title.0 }}</h3>
		{{ content.field_body.0 }}
	</div>
</div>
<!-- Services Items End-->
