<!-- Services -->
<div id="fh5co-services-section" class="bg-color">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
				<h3>{{ content.field_title.0 }}</h3>
				{{ content.field_body.0 }}
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row text-center">
			{{ content.field_service_items }}
		</div>
	</div>
</div>
<!-- Services End-->
